/* Global Reset */
/*-------------*/

* {
	margin: 0 auto;
	padding: 0;
}

html, body {
	height: 100%;
	font-size: 100%;
}

h1, h3 {
	font-family: 'Lora', Georgia, serif;
}

ul, p {
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

ul {
	list-style-type: none;
}

a {
	color:black;
	text-decoration: none;
}
	a:visited {
		color: inherit;
	}

/* Index */
/*------*/

.wrapper {
	margin: 0 auto;
	max-width: 800px;
}

.with_bgcolor {
	background-color: #479B64;
	color: #ffffff;
	padding: 80px 0 50px 0;
}

.clearfix {
	clear: both;
}

/* Top Bar */
ul.topbar {
	text-align: right;
}
	ul.topbar li {
		display: inline-block;
		padding: 16px 14px;
	}
		ul.topbar li a:hover {
			border-bottom: 1px solid #000000;
		}

/* About */
h1 {
	font-size: 48px; /* fallback */
	font-size: 3rem;
	font-style: italic;
	text-align: center;
	padding-bottom: 10px;
}

.about p {
  font-size: 20px; /* fallback */
  font-size: 1.250rem;
  text-align: center;
  max-width: 420px;
  line-height: 1.4;
  padding: 0 15px;
}

/* Works */
h3 {
	margin-top: 100px;
	margin-bottom: 80px;
	text-align: center;
	font-size: 20px; /* fallback */
  font-size: 1.250rem;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	padding: 11px;
	max-width: 150px;
	text-transform: uppercase;
}

.work-list {
	max-width: 700px;
	display: flex;
	flex-wrap: wrap;
}
	.work-unit {
		width: 238px;
  	float: left;
  	margin-bottom: 55px;
	}
		.work-title {
			font-family: 'Source Sans Pro', Helvetica, sans-serif;
			font-weight: 600;
			font-size: 23px; /* fallback */
  		font-size: 1.438rem;
  		margin-bottom: 5px;
		}

/* Contact */
.contact {
	padding: 50px;
  max-width: 400px;
}

.contact p {
	margin-bottom: 1rem;
}
	.contact p a {
		border-bottom: 2px solid #a5c5a7;
		padding-bottom: 1px;
	}
	.contact p a:hover {
		color: #479B64;
	}

/* Footer */
.site_footer {
	border-top: 2px solid #479B64;
}
	.site_footer p {
		text-align: center;
		font-size: 0.875rem;
		padding: 18px 15px 25px 15px;
	}
